@import url('./theme.css');
@import url('./header.css');
@import url('./footer.css');

#hero {
    background: url('../assets/Nucida-Standorte-Thailand-Bangkok.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 90vh;
    padding: 6rem 2rem;
}
#hero .content {
    max-width: 400px;
    padding: 2rem;
}
#odo {
    padding: 8rem 1rem;
}
#contact-form{
    background-color: var(--secondary-light-2);
    padding: 8rem 1rem;
}
#contact-form form{
    background-color: #fff;
    padding: 4rem;
    border-bottom: 1rem solid var(--primary);
}
input[type="text"], input[type="email"], input[type="password"], textarea{
    margin-bottom: 0;
}
#contact-form .container{
    max-width: 900px;
}
#contact-form form>*{
    margin-bottom: 1rem;
}
#contact-form form h4{
    margin-top: 1.5rem;
}
#contact-form .boxes{
    display: grid;
    padding-block: 2rem;
    grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
    gap: 2rem;
}
#contact-form .boxes input{
    display: none;
}
#contact-form .boxes .box{
    display: flex;
    align-items: flex-start;
    gap: .5rem;
}
#contact-form .boxes .box > *{
    cursor: pointer;
    color: inherit;
    user-select: none;
}
#contact-form .boxes .box span{
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    margin-right: .5rem;
    content: '';
    border: 1px solid var(--primary);
}
#contact-form .boxes .box input:checked + label span{
    background-color: var(--primary);
}
#contact-form form label:not(.black){
    color: var(--primary);
}
#contact-form form .input{
    display: flex;
    flex-direction: column;
    gap: .3rem;
}
#contact-form form .name{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}
#contact-form form .name .input:first-child{
    max-width: 100px;
}
div.v{
    display: flex;
    align-items: center;
    gap: 1rem;
}
div.v span{
    color: var(--primary);
}
#contact-form form .name .input:last-child{
    flex: 1 1 auto;
}
#contact-form form .input-group{
    display: flex;
    gap:1rem;
    flex-wrap: wrap;
}
#contact-form form .input-group > div{
    flex: 1 1 auto;
}
textarea{
    resize: none;
}
label[for="agree"]{
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    cursor: pointer;
    user-select: none;
}
label[for="agree"] > span:first-child{
    width: 20px;
    height: 20px;
    display: inline-flex;
    line-height: 1;
    margin: .15rem;
    content: '';
    border: 1px solid var(--primary);
}
label[for="agree"] .black{
    color: var(--text-primary);
}
.input:has(label[for="agree"]) input{
    display: none;
}
.input:has(label[for="agree"]) input:checked + label > span:first-child{
    background-color: var(--primary);
}
label[for="agree"] div{
    display: flex;
    flex-direction: column;
}
.input:has(.btn){
    align-items: flex-end;
}
.input:has(.btn) input{
    display: none;
}
.input:has(.btn) label{
    position: relative;
    height: 4rem;
    width: 10rem;
}
.input:has(.btn) label > *{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    font-weight: 700;
    color: var(--text-primary);
}
.input:has(.btn) label .hover{
    background-color: #ffe8e8;
    z-index: 10;
    opacity: 0;
    transition: opacity .3s ease;
}
.input:has(.btn) label:hover .hover{
    opacity: 1;
}
.input:has(.btn) label .hover span{
    color: var(--text-primary);
}