
footer {
    border-top: 3px solid #ddd;
    margin-top: 4rem;
}

footer .line {
    background-color: var(--primary);
    height: 5px;
    width: 100%;
    margin-block: 4rem;
}

footer .container {
    padding-top: 3rem;
}

footer .brand {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
}

footer .logo img {
    height: 7rem;
}

footer .socials {
    display: flex;
    gap: 1rem;
    align-items: center;
}

footer .contact {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    line-height: 1.7;
}

footer .contact h4 {
    font-weight: 400;
}

footer .contact .bold {
    font-weight: 800;
}

footer .red {
    color: var(--primary);
}

footer nav h4::before {
    display: inline-block;
    vertical-align: middle;
    content: ' ';
    width: 10px;
    height: 10px;
    background-image: url('../assets/list.svg');
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: -1rem;
    margin-right: .5rem;
}

footer nav ul {
    line-height: 2;
    list-style-image: url('../assets/list-1.svg');
}

footer .nav ul {
    line-height: 2;
    list-style-image: url('../assets/list.svg');
}

footer .nav {
    display: flex;
    flex-direction: column;
}

footer .nav>div {
    flex: 1 1 auto;
    align-items: flex-end;
}

footer .nav li {
    font-weight: 700;
}

@media (max-width: 888px) {
    footer .container {
        grid-template-columns: repeat(3, 1fr);
        row-gap: 2rem;
    }

    footer .nav div {
        justify-content: flex-start;
    }

    footer .brand {
        grid-column-start: 1;
        grid-column-end: 4;
    }
}

@media (max-width:650px) {
    footer .brand {
        grid-column-start: 1;
        grid-column-end: 2;
    }

    footer .container {
        grid-template-columns: 1fr;
        padding-inline: 3rem;
    }

}